<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/swe699_02</property>
        <property name="hibernate.connection.username">swe699_user01</property>
        <property name="hibernate.connection.password">password</property>
        -->
        <property name="hibernate.connection.url">jdbc:mysql://ec2-52-91-109-149.compute-1.amazonaws.com:3306/swe699_01</property>
        <property name="hibernate.connection.username">swe699_user02</property>
        <property name="hibernate.connection.password">password01</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <mapping class="us.hgmtrebing.swe699.database.hibernate.Cuisine" />
        <mapping class="us.hgmtrebing.swe699.database.hibernate.Restaurant" />
    </session-factory>
</hibernate-configuration>
